%h2 New Message

= error_messages_for :messages

- form_for :message, :url => { :action => "create" } do |f|
  =hidden_field_tag 'message[recipient_id]', message.recipient.id
  =hidden_field_tag 'message[author_id]', current_person.id
  
  %p
    =f.label :title
    %br
    = f.text_field :title, :size => 70
  %p
    =f.label :text
    %br
    = f.text_area :text, :cols => 70
  %p
    = f.submit "Submit"
