.new_message
  =f.hidden_field :recipient_id
  =hidden_field_tag 'message[author_id]', current_person.id
  =hidden_field_tag 'reply_id', message.id unless message.new_record?
  =hidden_field_tag 'request_id', message.request.id unless message.request.nil?
  =hidden_field_tag 'message[accepted_item_id]', message.request.item.id if @accepted_item

  %p
    =f.label :title
    %br
    = f.text_field :title, :size => 70
  %p
    =f.label :text
    %br
    = f.text_area :text, :cols => 70
  %p
    = f.submit "Submit"
