- title "Messages"

%p
  %strong Title:
  =h @message.title
%p
  -unless @message.text.empty?
    %strong Text:
    %br/
    =textilize_without_paragraph h(@message.text)

%p
  = link_to "Delete", @message, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "Reply", reply_message_path(@message)
  |
  = link_to "View All", messages_path
