- title "Messages"

%p
  %strong Title:
  =h @messages.title
%p
  %strong Text:
  =h @messages.text

%p
  = link_to "Edit", edit_messages_path(@messages)
  |
  = link_to "Destroy", @messages, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", messages_path
