- title "Messages"

%p
  %strong Title:
  =h @message.title
%p
  =highlight("Text: #{h @message.text}", "Text:") unless @message.text.empty?

%p
  = link_to "Delete", @message, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", messages_path
