- title "Log in"

%h1 Signup
%p== Don't have an account? #{link_to "Sign up!", signup_path}

- form_tag sessions_path do
  #gateway
    %table.form
      %tr
        %th
          Username or Email Address
          %p.details
        %td
          = text_field_tag :login, params[:login]
      %tr
        %th
          Password
          %p.details forgot your password?
        %td
          = password_field_tag :password

    %p
      .submit= submit_tag "Log in"
