- if person.biography and not person.biography.empty?
  .left
    %h2
      ="About"
      - if logged_in? and person == current_person
        %span.subtitle= link_to "(edit)", edit_person_path(current_person)    
    .right_box=textilize(person.biography)
