- if person.biography and not person.biography.empty?
  .left
    %h2
      ="About #{you_or_person(@person)}"
      - if logged_in? and person == current_person
        = link_to "(edit)", edit_person_path(current_person)
    
.reference
  =textilize(person.biography)
