- if @person.biography and not @person.biography.empty?
  %h2="About #{you_or_person(@person)}"
  - if logged_in? and @person == current_person
    = link_to "(edit)", edit_person_path(current_person)
  .cyan
    =textilize(@person.biography)
