.announcements
  ANNOUNCEMENTS
.text
  %h3
    Getting Started (beta)! 
    %span February 1st 2010
  %p
    We are still in development mode!
    %br/
    And we are quickly moving forward.
    %br/
    We are doing our best to deliver a fully working web application until middle of March, stay tuned.
