= link_to gravatar_for(person, :size => 100, :class => 'gravatar'),person_path(person.username)
-if person == current_person
  .own_gravatar
    =link_to 'Upload Your <br> Own Avatar <br/>At Gravatar', 'http://www.gravatar.com'
