= avatar_picture(person, :size => 'large')
- if logged_in? and current_person == person and !person.facebook_user?
  .own_gravatar
    =link_to 'Upload Your <br> Own Avatar <br/>At Gravatar.com', 'http://www.gravatar.com'