- if person.facebook_user?
  = facebook_picture(person, :size => 'large')
- else
  = link_to gravatar_for(person, :size => 100, :class => 'gravatar'),person_path(person.username)
  - if logged_in? && person == current_person
    .own_gravatar
      =link_to 'Upload Your <br> Own Avatar <br/>At Gravatar.com', 'http://www.gravatar.com'