%h1
  GiveAwayThings
  %span is about giving away things for free
%h2 Why giving things away for free?
%h3
  Because we own a lot of things which are not used anymore by us.
%p
  Just think about it. For 10 seconds.
  %br/
  It may be a book or an old mobile-phone.
  %br/ 
  Most likely these things just collect dust and will be thrown away to the garbage.
  %br/
  But why throw away things if somebody else could still easily use it? 
%h3
  Creating sustainability
%p
  Be a human and help the community to shape a sustainable society.

%h3 Get notified when we launch!
= render :partial => 'newsletters/form'

