= render :partial => 'people/you_offer', :locals => {:items => @offered_items, :person => @person} unless @offered_items.empty?
= render :partial => 'people/you_gave',  :locals => {:items => @given_items, :person => @person} unless @given_items.empty?
= render :partial => 'people/you_took',  :locals => {:items => @taken_items, :person => @person} unless @taken_items.empty?
