=render :partial => 'requests/requests_for_you', :locals => {:requests_from_x => @requests_from_x} unless @requests_from_x.empty?
=render :partial => 'requests/accepted_by_x', :locals => {:requests_accepted_by_x => @requests_accepted_by_x} unless @requests_accepted_by_x.empty?
=render :partial => 'requests/accepted_by_you', :locals => {:requests_you_accepted => @requests_you_accepted} unless @requests_you_accepted.empty?
=render :partial => 'requests/requests_by_you', :locals => {:requests => @requests_by_you} unless @requests_by_you.empty?