.requests
  .cyan
    %table
      -items.each do |item|
        %tr
          %td.title= link_to item.title, item_path(item)
          %td from &rarr;
          %td
            .name= link_to item.person, person_path(item.person)
          %td= link_to gravatar_for(item.person, :size=>28), person_path(item.person)
          %td since
          %td=time_ago_in_words(item.created_at)