#wrapper
  .people_index
    %h1 Welcome Florian
    #be_generous
      %h2 be generous and give a thing away
      %form
        %table.welcome_form
          %tr
            %td
              .in_field_label
                %label{:for=>'person_password'} type in item
                = text_field :person, :password, :size => 27
            %td
              = image_submit_tag "giveawaybutton.png", :class => 'giveaway_submit'

    %h3 OR
    #be_thankful
      %h2 be thankful and pick a thing up
      -# Forms...

  .people_sidebar
    .people_nav_box.delimiter
      %a{:href => ""}Your Items
      %br/
      %a{:href => ""}Your Profile
      %br/
      %a{:href => ""}Settings
    .people_nav_give
      %h2 You Gave
      %a{:href=>""}1 Thing
      %h2 You Took
      %a{:href=>""} 3 Things
  .clear    