- title "Welcome Florian"
.people_nav
  .people_nav_box.deco
    %a{:href => ""}Your Items
    %br/
    %a{:href => ""}Your Profile
    %br/
    %a{:href => ""}Settings
  .people_nav_box
    .people_nav_give
      %h2 You Gave
      %a{:href=>""}1 Thing
      %h2 You Took
      %a{:href=>""} 3 Things



.people_index
  %h1 Welcome Florian
  #be_generous
    %h2 be generous and give a thing away
    %table.form
      %tr
        %td
          = text_field :person, :password

  %h3 OR
  #be_thankful
    %h2 be thankful and pick a thing up
    -# Forms...

  %br/
  text
  %br/
  text
  %br/
  text
  %br/
  text
  %br/
  text
  %br/
  text
  %br/
  text
  %br/
  text
  %br/
  text
  %br/
  text
