.center.intro
  =# render :partial => 'not_ready'
  %h1 
    GiveAwayThings
    %span.subtitle generating sustainability

  .searchbox
    %h2 Find Something Near You
    = render :partial => "items/search"
  .searchbox
    %h2 Give Something Away
    = render :partial => 'items/give_away', :locals => {:item => @item}
    
  -content_for :sidebar do
    = render :partial => 'items/statistics', :locals => {:person => Person.new}



