- title "Sign up"
%h2 Sign Up
%p Already have an account? Then log in on the right side.

= error_messages_for :person
- form_for @person do |f|
  = person_fields(f, @person, {:password => true})

  %p
    .center= f.submit "Sign up"

-content_for :sidebar do
  =render :partial => "sessions/login"
