- title "Sign up"

%h2 Sign Up
%p== Already have an account? Then log in on the right side.

- form_for @person do |f|
  = person_fields(f, @person)

  -if @item
    =hidden_field_tag 'person[item_attributes][title]',       @item.title 
    =hidden_field_tag 'person[item_attributes][description]', @item.description
    =hidden_field_tag 'person[item_attributes][category_id]', @item.category_id
    
  %p
    .center= f.submit "Sign up"

-content_for :sidebar do
  =render :partial => "sessions/login"
