- title "- for a sustainable society"

#wrapper
  .welcome_content
    %h1 Welcome Florian
    %h2 be generous and give a thing away
    =render :partial => 'items/item', :locals => {:item => @item}
    %h3 OR
    %h2 be thankful and pick a thing up
    =render :partial => 'items/search', :object => "items"
    =render :partial => 'items/search', :object => "cities"


  .welcome_sidebar
    -#.welcome_nav_box.delimiter
      %a{:href => ""}Your Items
      %br/
      %a{:href => ""}Your Profile
      %br/
      %a{:href => ""}Settings
    .welcome_nav_give
      %h2 You Gave
      %a{:href=>""}1 Thing
      %h2 You Took
      %a{:href=>""} 3 Things
  .clear