- title "- for a sustainable society"

.welcome_content.center
  =# render :partial => 'not_ready'
  %h1 
    ="Welcome"
    = current_person if logged_in?
  
  %h3= t('.be_generous')
  = render :partial => 'items/item', :locals => {:item => @item}
  / %h2 OR
  / %h3 be thankful and pick a thing up
  / = render :partial => 'items/search'

  -content_for :sidebar do
    = render :partial => 'items/statistics', :locals => {:person => @person}
