- title "- for a sustainable society"

#wrapper
  .welcome_content
    %h1
      Welcome
      =current_person.username if logged_in?
    %h2 be generous and give a thing away
    =render :partial => 'items/item', :locals => {:item => @item}
    %h3 OR
    %h2 be thankful and pick a thing up
    =render :partial => 'items/search', :object => "items"
    =render :partial => 'items/search', :object => "cities"


  .welcome_sidebar
    .welcome_nav_give
      %h2 You Gave
      %a{:href=>""}
      -if logged_in?
        =link_to pluralize(current_person.items.taken_by_not_null.size,'Thing')
      -else
        =link_to '0 Things', signup_path
      %h2 You Took
      %a{:href=>""} 0 Things
      %h2 You Offer
      -if logged_in?
        =link_to pluralize(current_person.items.taken_by_null.size,'Thing')
      -else
        =link_to '0 Things', signup_path

  .clear