- title " for a sustainable society"

.introbox
  %h1
    Give away things that
    you don't need anymore
    or receive things that
    you could use very well

.start_sharing
  =link_to image_tag("start_sharing.gif"), signup_path

%h2
  
