= error_messages_for :newsletter

- form_for @newsletter do |f|
  %p
    =f.label :name
    %br
    = f.text_field :name
  %p
    =f.label :mail
    %br
    = f.text_field :mail
  %p
    = f.submit "Submit"
