!primary_color = #313030
@import fonts.sass
@import forms.sass
@import layout.sass


body
  :margin 0
  :padding 0
  :background-color = !primary_color
  :color #636163
  :font
    :family arial,helvetica,sans-serif
    :size 14px

img
  :border none

.clear
  :clear both
  :height 0
  :overflow hidden


#flash_notice,
#flash_error
  :padding 5px 8px
  :margin 10px 0

#flash_notice
  :background-color #CFC
  :border solid 1px #6C6

#flash_error
  :background-color #FCC
  :border solid 1px #C66

.fieldWithErrors
  :display inline

#errorExplanation
  :width 400px
  :text-align left
  :margin 20px
  h2
    :font
      :weight bold
      :size 12px
  ul
    li
      :font-size 12px
      :list-style disc

#container
  :position relative
  :width 100%
#header
  :width 1000px
  :height 107px
  :background-color !primary_color
  :margin 0 auto
  #nav_user, #nav_login_signup
    a
      :color #C3C3C3      
    :font-family Verdana,arial,helvetica,sans-serif
    :position relative
    :top 20px
    :width 121px
    :height 42px
    #nav_user_avatar
      :float left
      img
        :border 2px solid #b3b1b1
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
    #nav_user_messages
      position: absolute
      :left 56px
      :top 3px
      :background url("/images/bubble.png") no-repeat right center
      :width 65px
    #nav_user_logout
      color: #EFB108
      left: 56px
      position: absolute
      top: 20px
    #nav_login_signup
      :top 43px
      :left 100px

  #logo
    :position relative
    :float right
    :top 20px
#content
  :width 100%
  :background-color #fff
  .middle_background
    :background-color #d0d0d0
    :width 100%

    .middle
    
      :margin 0 auto
      :background-color #fff
      :width 881px

#footer
  :width 100%
  :clear both
  :position absolute
  :background-color !primary_color
  :bottom 30
  :color #5c5c5c
  :text-align center
  :padding-top 30px
.body
  :padding 50px 30px


// Homepage
.introbox
  :float left
  :width 404px
  :height 166px
  :padding-right 30px
.start_sharing
  :padding
    :bottom 26px
    :top 26px

// Sign Up


// People_Index
.clear
  :clear both
  :margin 0
  :padding 0

.people_index
  :width 660px
  :text-align center
  :border-right 1px solid #BDBEBD
  :float left
.people_sidebar
  :text-align center
  :float right
  :font-weight bold
  :width 160px
  a
    :font-size 18px
.people_nav_box
  :padding 10px 0 10px 30px
  :text-align left
.people_nav_give
  :padding 5px 0
  h2
    :color #60c14f
    :margin 4px 0 0 
  a
    :color #46a038

.delimiter
  :border-bottom 1px solid #cdcdcd

