h1
  :margin 0 0 5px
  :font-size 33px
  :font-family Tahoma, "Century Gothic","Helvetica Neue",Verdana,Arial,Helvetica,sans-serif
  :color #844100
  :font-weight bolder

a
  :color #844100
  :text-decoration none
  :outline none
a:hover
  :color #fff
  :text-decoration none

.search_result_title
  :color #313030