h1
  :margin 0 0 5px
  :font-size 33px
  :font-family Tahoma, "Century Gothic","Helvetica Neue",Verdana,Arial,Helvetica,sans-serif
  :color = !header_color
  :font-weight bolder
h2
  :margin 4px 0 8px

a
  :color !header_color
  :text-decoration none
  :outline none
a:hover
  :color #313030
  :text-decoration none

.search_result_title
  :color #313030