h1
  :margin 0 0 5px
  :font-size 23px
  :font-family Tahoma, "Century Gothic","Helvetica Neue",Verdana,Arial,Helvetica,sans-serif
  :color = !header_color
  :font-weight bolder
h2
  :margin 4px 0 0px
  :color = !header_color
h3
  :margin 5px 0
  span
    :color #000
    :font-size 12px
    :margin-left 3px
    :font-style italic
    :font-weight normal
h4, h5
  :margin 0
h5
  :font-size 9px
  :line-height 9px
  
a
  :color = !dark_gray
  :outline none
  :text-decoration none
  &:hover
    :color = !green 
    :text-decoration none

.search_result_title
  :color #313030