table.form
  :text-align right
  .details
    color: #b5b2ad
    margin: 5px 0 0
table.welcome_form
  :margin 0 auto

.giveaway_submit
  :background none
input
  font-size: 28px
  padding: 7px
  background: #FFFFFF url("/images/input_bg.gif") no-repeat scroll left top
  border-color: #F7F7F7
  border-style: solid
  border-width: 0 1px 1px 0
th
  :text-algin right
  :padding-right 12px
  :font-size 18px
  :width 150px
  .details
    :font-size 10px
    :margin 0
.submit
  :text-align center
  input
    :background ThreeDLightShadow 
    :font-size 20px
    :width 100px
form.dashboard
  input
    size
#gateway
  :margin-top 22px
form .in_field_label
  :position relative
label
  :position absolute
  :top 0
  :left 0
  :color #CDCDCD
  :font-size 32px
  :font-weight bold
  :margin-left 8px
  :margin-top 2px
  :padding 1px
