table.form
  th
    :text-align right

input
  font-size: 22px
  padding: 7px
  border: 1px solid #bbb
select, textarea
  font-size: 15px
  padding: 7px
  border: 1px solid #bbb
th
  :text-algin right
  :padding-right 12px
  :font-size 18px
  .details
    color: #b5b2ad
    margin: 5px 0 0
    :font-size 10px
    :margin 0
.submit
  input
    :background ThreeDLightShadow 
    :font-size 20px
    :width 100px

.in_field_label
  :position relative
  :margin 0 auto
  label
    :position absolute
    :top 6px
    :left 9px
    :color #CDCDCD
    :font-size 27px
    :font-weight bold

.image_submit
  :background none
  :border 0