#container
  :position relative
  :width 100%
  :min-height 100%
.rounded_corners
  :-moz-border-radius 13px
  :-webkit-border-radius 13px
  :padding 5px
  :background-color #fff
  :border 2px solid #b2b5a6

  
img.gravatar
  :border 2px solid #5a595a
  -webkit-border-radius: 2px
  -moz-border-radius: 2px  
  
#header
  :background-color !primary_color
  :background-repeat repeat-x
  :background-position bottom
  :background-color = !header_bg_color
  :margin 0 auto
  .header_content
    :width 940px
    :height 100px
    :margin 0 auto 20px
    #nav_user, #nav_login_signup
      a
        :color #C3C3C3
        &:hover
          color = !green
        
      :font-family Verdana,arial,helvetica,sans-serif
      :position relative
      :top 15px
      :left 80px
      :width 121px
      :height 42px
      #nav_user_messages
        position: absolute
        :left 56px
        :top 3px
        :background url("/images/bubble.png") no-repeat right center
        :width 65px
      #nav_user_logout
        color: #EFB108
        left: 56px
        position: absolute
        top: 20px
        &:hover
          color = !green
      #nav_login_signup
        :top 43px
        :left 100px

    #logo
      :position relative
      :float right
      :top 5px
#content
  :width 100%
  :background-color = !bg_color
  :width 100%
  :padding-bottom 55px
  #nav
    :color = !header_color
    :margin 10px auto 
    :text-align center
    :width 570px
  #content_wrapper
    :display table
    :margin 0 auto
    .content_menu
      :padding 22px 
      :min-width 400px
      :max-width 600px
    .sidebar
      :margin-left 12px
      :text-align center
      :padding 15px
      .text
        :width 235px
        :text-align left
        h3
          :color = !header_color
          :font-size 12px
        p
          :font-size 12px



.statistics
  h2
    :color = !header_color
    :margin 4px 0 0
  a
    :font-weight bold
    :color #46a038
    :font-size 17px
.stat_image
  :background-image url(/images/stats.png)
  :background-repeat no-repeat
  :background-position left center
  :height 26px
  :padding 11px 0 0 31px 
  :font-weight bold
  :text-align left
  :color black
  :width 120px
  :margin 0 auto
.announcements
  :font-weight bold
  :background-image url(/images/announcement.png)
  :background-repeat no-repeat
  :background-position left center
  :height 22px
  :padding 8px 0 0 31px
  :width 117px
  :margin 0 auto

.login  
  input, textarea
    :height 15px
    :font-size 12px
    :padding 3px
    :margin 2px 0
    :width 146px
.signup 
  input
    :height 40px

#footer
  :width 100%
  :clear both
  :background-color = !header_bg_color
  :bottom 0
  :position absolute
  :color #5c5c5c
  :text-align center
  :padding-top 30px

.messages
  table
    th
      :font-weight normal
      :border 0
      :margin 0
      :text-align center
      :background-color = !header_bg_color
      :color = !yellow
    td
      :padding 10px