.messages
  table
    :border-spacing 0
    th
      :font-weight normal
      :border 0
      :margin 0
      :padding 5px
      :text-align center
      :background-color = !header_bg_color
      :color = !yellow
    td
      :padding 0 10px
    td.first
      :padding 0
    td.subject, th.subject
      :width 270px

.request_flag
  :background url("/images/red_flag.png") no-repeat right center
  :width 39px
  :float left
  :height 14px
  :width 19px