.send_message
  :width 255px
  img
    :position relative
    :top 10px
.send_request
  :line-height 30px
  img
    :position relative
    :top 5px

.localization
  a
    :font-family monospace
    &:hover
      :color = !green

table.show_items
  :margin 0 0 0 5px
  :font-size 8pt
  td.first
    :width 150px
    :padding-left 10px
  td.second
    :width 20px
    :text-align center
  td.third
    :width 50px
    :text-align right
  td.fourth
    :width 34px
  
table.offer
  .title
    :width 300px
.own_gravatar
  :font-variant small-caps
  :font-weight bold
  :margin 0 auto
  :width 113px
.own_gravatar, .references
  a
    :color = !blue
    &:hover
      :color = !light_blue
  .positive
    :color = !full_green
  .negative
    :color #ff0000
  .neutral
    :color !blue
  
img.avatar_profile
  :border 4px solid #5a595a
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
.references
  :text-align left
.reference
  :padding 2px
  :background-color #fefbdb
  :width 240px
  :border 1px solid rgb(220,220,150)
  :font-size 8pt
  :margin 4px
  .picture
    :float right

.box
  :background-color #FEFBDB
  :margin-bottom 12px
  :padding 10px 
  :border 1px rgb(220,220,150) solid
