.statistic_pointer
  :background-repeat no-repeat
  :background-position right
  :background-image url(/images/statistic_pointer.png)
  :height 51px
  :width 469px
  :position absolute
  :float right
  
textarea#reference_text
  :width 360px

.height100
  :height 100px
  
.undecided_requests
  :color = !blue
  a
    :color = !blue  
    &:hover
      :color = !green 
  
.requests_accepted_by_x
  :color = !purple
  a
    :color = !purple
    &:hover
      :color = !green
      
.requests_accepted_by_you
  :color = !orange
  a
    :color = !orange
    &:hover
      :color = !green
  
    
.requests
  table
    .name a
      :border 1px dashed Thistle
      :padding 5px
    .for a
      :border-bottom 1px dashed Thistle