table.tablesorter
  :border-spacing 0
  :border 1px solid 
  :border-color = !header_bg_color
  font-family: arial
  background-color: #CDCDCD*
  font-size: 8pt
  text-align: left

  thead tr th, tfoot tr th
    padding: 2px 0 3px 5px
    color: = !header_color
    :font-weight normal
    :border 0
    :background-color = !header_bg_color
    :color = !yellow
  tfoot tr th
    :text-align center

  thead tr .header
    background-image: url(/images/bg.gif)
    background-repeat: no-repeat
    background-position: center right
    cursor: pointer

  tbody
    td
      color: #3D3D3D
      padding: 2px
      background-color: #EEE996
      vertical-align: top
    tr.odd td
      background-color: #E6CE7B
    tr.hover td
      background-color = !yellow

  thead tr
    .headerSortUp
      background-image: url(/images/asc.gif)
      background-color: #111
    .headerSortDown
      background-image: url(/images/desc.gif)
      background-color: #111

tr.hover td
  background-color: #fffdf6
