// Welcome Action
.welcome_content
  h2
    :font-size 28px
    :color #313030
    :margin 0
  h3
    :font-size 32px
    :margin 5px
  :width 680px
  :text-align center
  :float left
  :border-right 1px solid #BDBEBD
.welcome_sidebar
  :padding-top 20px 10px
  :text-align center
  :float right
  :font-weight bold
  :width 160px
  a
    :font-size 18px
.welcome_nav_box
  :padding 10px 0 10px 30px
  :text-align left
.welcome_nav_give
  :padding 20px 0
  h2
    :color #60c14f
    :margin 4px 0 0
  a
    :color #46a038

.item_form, .search_form 
  .in_field_label
    input
      :width 95%

.item_form
  :margin 0 auto
  :width 561px
  :text-align left
  .image_submit
    :text-align center

.search_form
  :width 525px
  :margin 0 auto
  