// Welcome Action
.welcome_content
  :text-align center

  h2
    :font-size 25px
    :color #313030
    :padding 0 0 5px
    :margin 0
  h3
    :font-size 32px
    :margin 5px
  
.welcome_nav_box
  :padding 10px 0 10px 30px
  :text-align left

.search_form
  :width 570px
  :margin 0 auto
  input#search_title_like
    :width 440px    
  .select_boxes
    :margin-bottom 4px
    select
      :padding 2px