#nav_user
  %a.messages{:href=>"/inbox"}="#{current_person.unread_messages.size} new"
  %a.requests{:href=>"/inbox"}="#{current_person.unreplied_requests.size}R" unless current_person.unreplied_requests == 0
  = link_to 'logout', logout_path, :id => "nav_user_logout"
  = link_to gravatar_for(current_person, :size=>36, :class => 'gravatar'),person_path(current_person.username)
