=hidden_field_tag 'request[item_id]', params[:id].to_i
=hidden_field_tag 'request[owner_id]', item.person.id 
=hidden_field_tag 'request[requester_id]', current_person.id 
-f.fields_for :message do |ff|
  .request_text=ff.text_area :text, :size => "40x2"
  =hidden_field_tag 'request[message_attributes][author_id]', current_person.id 
  =hidden_field_tag 'request[message_attributes][recipient_id]', item.person.id
  =ff.hidden_field :title
%br