=hidden_field_tag 'request[item_id]', params[:id].to_i
=hidden_field_tag 'request[owner_id]', item.person.id 
=hidden_field_tag 'request[requester_id]', current_person.id 
=f.text_area :text, :size => "40x2"
%br