.width450
  %h1 Mark item as given
  .float_left
    %p
      =textilize_without_paragraph(t('.text1'))
      %br/
      =textilize_without_paragraph(t('.text2'))
      %br/
      =textilize_without_paragraph(t('.text3'))
      / .statistic_pointer

  .clear

  = render :partial => 'requests/leave_reference', :locals => {:to => @request.requester, :item => @request.item, :reference => @reference, :taken_by => @request.requester.id}
  
  - content_for :sidebar_in_box do
    = render :partial => 'items/statistics', :locals => {:person => current_person}
    .height100