- title "- for a sustainable society"

.intro
  %h1 
    GiveAwayThings
    %span.subtitle generating sustainability

    
  .clear
    .thirds
      %h4 For free? Why?
      %p 
        Because our homes are full with stuff that we dont need anymore.<br/>
        Just think about it for 10 seconds!<br/>
        Unused cabels and electronics gathering dust.<br/>
        Clothes which are never worn.<br/>
        Read books which haven't been touched since years.<br/>
        I am sure that anyone has a long list of those things.
        
    .thirds
      %h4 Sustainability
      %p
        <b>Reduce waste</b>.<br/>
        <b>Save resources</b>.<br/>
        <b>And ease the burden of our landfills</b>.<br/>
        Be a human and help your surrounding by shaping sustainbility.
        
    .thirds
      %h4 It feels relieving
      %p 
        Having less stuff means you have more space.<br/>
        It really is that simple.<br/>
    
      %h4 Contribute
      %p
        I am currently developing this platform on Ruby on Rails 2.3.5.<br/>
        If you want to contribute to the code, just write me a message
        in github and I will add you to the project's repository
      %p.author=link_to 'Florian', 'http://flov.org/'
  .clear