.center
  -form_for item, :html => { :multipart => true } do |f|
    = text_field_tag 'item[title]', 'Type in item.'
    %br
    #slidedown_fields.hide_me
      = f.text_area :description, :cols=>40
      %br
      = f.label :photo
      %br/
      = f.file_field :photo
      %br/
    %img{:src=>"/images/giveawaybutton.png", :alt=>"Search", :class => 'image_submit', :onclick=>"$('#new_item').submit(); this.disabled = 1;"}/
