.item_form
  -form_for item do |f|
    = f.error_messages
    .in_field_label
      %label{:for=>'item_title'} type in item
      = f.text_field :title, :size => 47
    .hide_me#item_description_fields
      .in_field_label
        %label{:for=>'item_description'} describe item
        = f.text_area :description, :rows => 15, :cols=>55
      =collection_select :item, :category_id, Category.all, :id, :name, {:include_blank => "Category"}
      =# collection_select :search, :address_city_country_iso_equals, @countries, :iso, :name, {:include_blank => "Country"} if @countries
    .center= image_submit_tag "giveawaybutton.png", :class => 'image_submit'