-form_for item, :html => { :multipart => true } do |f|
  = text_field_tag 'item[title]', 'Type in item.'
  %br
  #slidedown_fields.hide_me
    = f.text_area :description, :cols=>40
    %br
    .uploadpicture
      Picture: 
      %br/
      =f.file_field :photo
  .center= image_submit_tag "giveawaybutton.png", :class => 'image_submit'
  
-#.in_field_label
  -#%label{:for=>'item_description'} describe item