- form_tag '/search', :method => 'get' do
  .search_form
    = text_field_tag 'search[title_like]', 'Search item.', :size => 20
    #hidden_search_options.hide_me
      %ul.formList
        %li= select_countries(@countries)
        %li= select_categories
  = image_submit_tag "searchbutton.png", :class => 'image_submit'
      