.statistics
  -if person.new_record? # not logged in
    -#.stat_image Your Statistics
      -# Do nothing for the moment 
      %h2 You Gave
      =link_to '0 Things', signup_path
      %h2 You Took
      =link_to '0 Things', signup_path
      %h2 You Offer
      =link_to '0 Things', signup_path
    
  - elsif person == current_person # your own records
    -#.stat_image Your Statistics
    - if person.given_items.size > 0
      %h2 You Gave
      =link_to pluralize(person.given_items.size,'Thing'), person_path(person.username)
    - if person.taken_items.size > 0
      %h2 You Took
      =link_to pluralize(person.taken_items.size,'Thing'), person_path(person.username)
    - if person.offered_items.size > 0
      %h2 You Offer
      =link_to pluralize(person.offered_items.size,'Thing'), person_path(person.username)

  -else # Logged in, but not your own records:
    -#.stat_image="#{person.username.capitalize}'s Statistics"
    - if person.given_items.size > 0
      %h2="#{person.username.capitalize} Gave"
      =link_to pluralize(person.given_items.size,'Thing'), person_path(person.username)
    - if person.taken_items.size > 0
      %h2="#{person.username.capitalize} Took"
      =link_to pluralize(person.taken_items.size,'Thing'), person_path(person.username)
    - if person.offered_items.size > 0
      %h2="#{person.username.capitalize} Offers"
      =link_to pluralize(person.offered_items.size,'Thing'), person_path(person.username)
