.statistics
  .stat_image
    ="Statistics"
  %h2="#{person.username.capitalize} Gave"
  =link_to pluralize(@items_given.size,'Thing'), person_path(person.username)
  %h2="#{person.username.capitalize} Took"
  =link_to pluralize(@items_taken.size,'Thing'), person_path(person.username)
  %h2="#{person.username.capitalize} Offer"
  =link_to pluralize(@items_offered.size,'Thing'), person_path(person.username)