.statistics
  .stat_image
    ="#{person.username.capitalize}'s Statistics"
  %h2 Gave
  =link_to pluralize(@items_given.size,'Thing'), person_path(person.username)
  %h2 Took
  =link_to pluralize(@items_taken.size,'Thing'), person_path(person.username)
  %h2 Offers
  =link_to pluralize(@items_offered.size,'Thing'), person_path(person.username)