%h1="Results:"

%table#show_items.tablesorter
  %thead
    %tr
      %th Title
      %th Category
      %th Country
      %th City
      %th Since
      %th By
  %tbody
    -@items.each do |item|
      %tr
        %td=link_to(item.title, "/items/#{item.id}-#{item.title.underscore}")
        %td=item.category.to_s
        %td=item.address.city.country.to_s
        %td=item.address.city.to_s
        %td=time_ago_in_words item.created_at
        %td=item.person.username

-#-@items.each do |item|
-#  =item.title
-#  %br/
-#  =item.description
-#  %br
-#  %br