%h1
  -unless params[:search].empty?
    ="Results for: <span class='search_result_title'>#{params[:search]}</span>"
  -else
    ="All Items"

%table
  %tr
    %th Title
    %th Country
    %th City
    %th Since
    %th By
  -@items.each do |item|
    %tr
      %td=item.title
      %td=item.address.city.country.to_s
      %td=item.address.city.to_s
      %td=time_ago_in_words item.created_at
      %td=item.person.username

-#-@items.each do |item|
-#  =item.title
-#  %br/
-#  =item.description
-#  %br
-#  %br