-title " &rarr; Browse items"

%h1 Results:

%table#show_items.tablesorter.items_search
  %thead
    %tr
      %th.title Title
      %th Country
      %th City
      %th Since
      %th By
  %tbody
    -@items.each do |item|
      %tr
        %td
          =link_to(h(item.title), "/items/#{item.id}-#{item.title.underscore[0..30]}")
          %br/
          =h(truncate(item.description, 400))
        %td=item.address.city.country.to_s
        %td=item.address.city.to_s
        %td=time_ago_in_words item.created_at
        %td=link_to(item.person.username, "/people/#{item.person.username}")  
  %tfoot
    %tr
      %th{:colspan=>6}= will_paginate @items