%h1="Results for: <span class='search_result_title'>#{params[:search]}</span>"
%table
  %tr
    %th Title
    %th Country
    %th City
    %th Since
    %th By
  -@items.each do |item|
    %tr
      %td=item.title
      %td=item.address.country
      %td=item.address.city
      %td=item.person
      %td=time_ago_in_words item.created_at