- title " &rarr; #{@item.title}"
%h2=textilize_without_paragraph(word_wrap(@item.title, 60))

%p
  %strong=t('.description')
  %br/
  =textilize_without_paragraph h(@item.description) unless @item.description.empty?
  
= image_tag @item.photo.url unless @item.photo.url.include? "missing.png"

%h2=t('.send_request', :username => @item.person.username)
#send_request
  -form_for @request do |f|
    =request_fields(f, @item)
    =f.submit "send request"

%p
  = link_to t('.view_all'), items_path
  
- content_for :sidebar_in_box do
  = render :partial => 'people/default_sidebar_in_box', :locals => {:person => @person, :references => @references}
  
  