- title " - #{@item.title}"

%p
  %strong Owner:
  =h @item.person.username

%p
  %strong Name:
  =h @item.title

%p
  %strong Description:
  =h @item.description


#send_request
  -form_for @request do |f|
    =f.error_messages
    =f.text_area :text, :size => "40x4"
    =hidden_field_tag 'request[item_id]', params[:id].to_i
    %br
    =f.submit "Request This Item"

%p
  = link_to "View All", items_path