%ul#menu
  %li 
    =link_to "Profile", person_path(current_person.username) if logged_in?
    %ul
      %li
        =image_tag "corner_inset_left.png", :class => "corner_inset_left"
        -if current_person.has_opened_requests?
          =link_to t('.your_profile'), person_path(current_person.username)
        =image_tag 'corner_inset_right.png', :class => "corner_inset_right"
      %li
        -if current_person.has_opened_requests?
          =link_to t('.your_requests'), requests_person_path(current_person)
      %li.last  
        =image_tag 'corner_left.png',  :class => "corner_left"
        =image_tag 'dot.gif',          :class => "middle"
        =image_tag 'corner_right.png', :class => "corner_right"
    %li
      =link_to t('.giveaway'), root_path
  %li
    =link_to t('.browse_items'), items_path
  %li
    =link_to t('.why'), why_path

  =render :partial => 'layouts/search_container'