-# SEARCH:
%li.searchContainer
  -form_tag(items_path, :method => 'get', :name => 'form', :id => 'navSearch') do
    %div
      = text_field_tag :q, params[:q], :id => "searchField"
      %img{:src=>"/images/magnifier.png", :alt=>"Search", :onclick=>"$('#navSearch').submit();"}/
    %ul
      %li
        Search by
        %img.corner_inset_right{:src=>"/images/corner_inset_right.png"}/
        %br/

        %img.corner_inset_left{:src=>"/images/corner_inset_left.png"}/  
        = radio_button_tag("search_by", "city", true)
        City
        %br/  
        
        = radio_button_tag("search_by", "title")
        Title
        %br/
        
        Distance
        = select_tag("near", "<option></option><option value='10'>10m</option><option value='20'>20m</option><option value='30'>30m</option>")          


      %li.last
        %img.corner_left{:src=>"/images/corner_left.png"}/
        %img.middle{:src=>"/images/dot.gif"}/
        %img.corner_right{:alt=>"", :src=>"/images/corner_right.png"}/